/*
YouTubeSkinDefault
default.css
Studio2b
Michael Son(mson0129@gmail.com)
08JUL2015 - This file is newly created.
*/

@charset "utf-8";
table {width: 100%; border-collapse: collapse; border-top: 1px solid #D8D8D8; border-bottom: 1px solid #D8D8D8; color: #4a4a4a;}
table thead th {margin: 0; border: 0; padding: 14px 0 15px; border-bottom: double #DBDBDB; height: 14px; white-space: nowrap;}
table tbody td {padding: 8px 10px; border: 0; border-bottom: 1px solid #e6e6e6;}
	table tbody td.browse_thumbnail img {width: 120px; height: 90px;}
table .browse_thumbnail {width: 120px;}
table .browse_channel {width: 80px; text-align: center;}
table .browse_date {width: 80px; text-align: center;}
table a {color: #4a4a4a;}

div.pages {padding: 13px 0; text-align: center; font-size: 13px;}
	div.pages a, div.pages strong {display: inline-block; padding: 1px 8px; border-radius: 2px; background-color: #F6F6F6; color: #767676; font: 700 11px/22px Tahoma,Sans-serif; vertical-align: top; text-decoration: none;}
	div.pages strong {color: #D88700;}

/*peruse*/
div.peruse {margin-bottom: 75px;}
div.peruse_header{margin-bottom: 20px;}
	h1.peruse_title {font-size: 21px; font-weight: 400; line-height: 36px; white-space: nowrap;}
		h1.peruse_title a {color: #444; text-decoration: none;}
	p.peruse_meta {margin: 0; padding: 8px 0 13px; border-bottom: 1px solid #DDD; zoom: 1; white-space: nowrap; color: #666;}
		p.peruse_meta span.peruse_channel a {color: #666; text-decoration: none;}

div.peruse_contents {padding: 15px 10px;}
	div.peruse_player {padding-bottom: 15px; text-align: center;}
	div.peruse_description {color: #333; line-height: 1.5;}

div.peruse_footer div.peruse_sns {margin-top: 50px;}
div.peruse_footer div.peruse_sns ul {text-align: center;}
div.peruse_footer div.peruse_sns li {display: inline; vertical-align: top;}
div.peruse_footer div.peruse_sns a {display: inline-block; width: 32px; height: 32px; border: 1px solid #e0e0e0; background-color: #f4f4f4; border-radius: 2px; text-decoration: none;}
div.peruse_footer div.peruse_sns a i {font-size: 22px; line-height: 32px; color: #bcbcbc;}